// Override ../bootstrap's Sass default variables
//
// Nearly all variables in ../bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import ../bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's ../bootstrap's CSS like so:
// `body { color: red; }`.

// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/tables";
// @import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
// @import "../bootstrap/scss/transitions";
// @import "../bootstrap/scss/dropdown";
// @import "../bootstrap/scss/button-group";
// @import "../bootstrap/scss/nav";
// @import "../bootstrap/scss/navbar"; // Requires nav
// @import "../bootstrap/scss/card";

// @import "../bootstrap/scss/breadcrumb";
// @import "../bootstrap/scss/accordion";
// @import "../bootstrap/scss/pagination";
// @import "../bootstrap/scss/badge";
// @import "../bootstrap/scss/alert";
// @import "../bootstrap/scss/progress";
// @import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";
// @import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal"; // Requires transitions
// @import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/popover";
// @import "../bootstrap/scss/carousel";
// @import "../bootstrap/scss/spinners";
@import "../bootstrap/scss/offcanvas"; // Requires transitions
// @import "../bootstrap/scss/placeholders";

// Helpers
// @import "../bootstrap/scss/helpers";

// Utilities
@import "../bootstrap/scss/utilities/api";

//
// Custom styles
//

// @import "icon-list";

* {
  padding: 0;
  margin: 0;
}

// colors
body {
  --cyan-transparent: hsl(192, 37%, 48%, 0.9);
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);
}

// fonts
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/red-hat-display-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/red-hat-display-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// typoraphy
.font--xl {
  font-family: 'Red Hat Display';
  font-size: clamp(2.5rem, 10vw, 4rem);
  font-weight: 900;
  line-height: 1.1em;
  letter-spacing: 0;
  color: var(--slate-900);
}

.font--lg {
  font-family: 'Red Hat Display';
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: 900;
  line-height: 1.1em;
  letter-spacing: 0;
  color: var(--slate-900);
}

.font--cyan {
  font-family: 'Red Hat Display';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: .25em;
  color: var(--cyan-600);
  text-transform: uppercase;
}

.font {
  font-family: 'Red Hat Display';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0;
  color: var(--slate-600);
}

.font--white {
  color: var(--white);
}

.font--sm {
  font-family: 'Red Hat Display';
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0;
}

.header__img-mobile {
  object-fit: cover;
  width: clamp(30rem, 115vw, 50rem);
}

.header__img-desktop {
  object-fit: contain;
  min-width: 390px;
  width: 110%;
}

.header__img-container-mobile, .header__img-container-desktop {
  overflow: hidden;
}

.btn--purple {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--purple-600);
}

.btn--cyan {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--cyan-600);
}

.text-cyan {
  color: var(--cyan-300)
}

.text-lightpurple {
  color: var(--purple-300)
}

.footer__mask {
  background-color: var(--cyan-transparent);
}

.footer__container {
  grid-area: 2 / 1 / 4 / 4;
}

.bg-image {
  background-image: url('./assets/images/mobile/image-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feature__img {
  margin: .5rem;
}

.divider__line {
  height: 80px;
  width: 50%;
}

.divider__circle {
  height: 56px;
  width: 56px
}

.footer {
  display: grid;
  grid-template-rows: auto 28px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__divider {
  grid-area: 1 / 2 / 3 / 3;
  align-self: end;
  z-index: 1;
}
.text-container__text-area {
  width: 500px;
}

.feature__text-area, .footer__text-area {
  max-width: 500px;
}

@include media-breakpoint-up(lg) {
  .footer__text-area {
    max-width: 75vw;
  }
}